@import "@styles/var";
@import "@styles/mixin";
@import "@styles/font/font";

.input {
    width: 271px;
    padding: 16px 12px;
    font-family: 'Roboto';
    @include border;
    @include text-s;
    &:hover {
        border: 1px solid $accent-color;
    }
}