@use "@styles/var";
@use "@styles/mixin";

.header h2 {
    color: var.$accent-color;
}

nav {
    margin-bottom: 30px;
}

nav a {
    color: var.$link-color;
    @include mixin.text-m;
    text-decoration: none;
}