@import "@styles/var";
@import "@styles/mixin";

.header h2 {
    color: $accent-color;
}

nav {
    margin-bottom: 30px;
}

nav a {
    color: $link-color;
    @include text-m;
    text-decoration: none;
}