@use "@styles/var";
@use "@styles/mixin";

.repos {
    color: var.$default-color;
}

.btns {
    height: 30px;
    display: flex;
    list-style: none;
    gap: 5px;
    a {
        color: var.$link-color;
        @include mixin.text-m;
        border: 1px solid transparent;
        border-radius: 6px;
        padding: 6px 12px;
        transition: border-color .2s cubic-bezier(0.3, 0, 0.5, 1);
        cursor: pointer;
        &:hover {
            @include mixin.border;
        }
    }
}

.active a {
    color: var.$light-color;
    background-color: var.$accent-color;
    &:hover {
        border: 1px solid transparent;
    }
}

.disabled a {
    color: var.$secondary-color;
}