@import "@styles/var";
@import "@styles/mixin";

.repos {
    color: $default-color;
}

.btns {
    height: 30px;
    display: flex;
    list-style: none;
    gap: 5px;
    a {
        color: $link-color;
        @include text-m;
        border: 1px solid transparent;
        border-radius: 6px;
        padding: 6px 12px;
        transition: border-color .2s cubic-bezier(0.3, 0, 0.5, 1);
        cursor: pointer;
        &:hover {
            @include border;
        }
    }
}

.active a {
    color: $light-color;
    background-color: $accent-color;
    &:hover {
        border: 1px solid transparent;
    }
}

.disabled a {
    color: $secondary-color;
}