$default-color: #000;
$light-color: #FFF;
$primary-color: #646769;
$secondary-color: #7E7E7E;
$accent-color: #FF5555;
$link-color: #0080FF;
$topic-color: #0066CC;
$topic-bg: #DAEDFF;
$option-color: #F1F1F1;